/MATe.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MATeUI/bin/Debug/MATeUI.exe
/MATeUI/bin/Debug/MATeUI.pdb
/MATeUI/obj/Debug/CoreCompileInputs.cache
/MATeUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MATeUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MATeUI/obj/Debug/MATeUI.csproj.FileListAbsolute.txt
/MATeUI/obj/Debug/MATeUI.csproj.GenerateResource.Cache
/MATeUI/obj/Debug/MATeUI.csprojResolveAssemblyReference.cache
/MATeUI/obj/Debug/MATeUI.exe
/MATeUI/obj/Debug/MATeUI.pdb
/MATeV2/obj/Debug/CoreCompileInputs.cache
/MATeV2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Network/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/test2/obj/Debug/CoreCompileInputs.cache
/test2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TestFichierBinaire/obj/Debug/CoreCompileInputs.cache
/TestFichierBinaire/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
